.character-card {
    width: 508px;
    height: 248px;
    border: 1px solid rgb(200 200 200 / 30%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 13px;
    position: relative;

    &:hover {
        .character-card__edit-button {
            visibility: visible;
        }
    }

    &:focus-within {
        .character-card__edit-button {
            visibility: visible;
        }
    }

    &__media {
        width: 240px;
        height: 234px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__content {
        width: 240px;
        height: 234px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: Roboto, sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15px;
        font-weight: 500;
        margin-bottom: 10px;

        .input__button--clear {
            display: none;
        }
    }

    &__title-link {
        color: inherit;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            opacity: 0.85;
        }
    }

    &__meta-item {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-bottom: 6px;
    }

    &__meta-label {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.25px;
        font-weight: 500;
        color: #3f3f3f;
    }

    &__meta-value {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.25px;
        font-weight: 400;
        color: rgb(0 0 0 / 60%);
    }

    &__location {
        --input-text-color: rgb(0 0 0 / 60%);
        --input-font-size: 14px;
        --input-line-height: 21px;
        --input-letter-spacing: 0.25px;
        --input-height: 21px;
        --input-width: 115px;

        .input__button--clear {
            border: none;
            width: 20px;
            height: 20px;

            svg {
                width: 7px;
                height: 7px;
            }
        }
    }

    &__status-value {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.25px;
        font-weight: 400;
        color: rgb(0 0 0 / 60%);
    }

    &__status-option {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__status-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        flex-shrink: 0;

        &--alive {
            background-color: #20B80B;
        }

        &--dead {
            background-color: #E74C3C;
        }

        &--unknown {
            background-color: orange;
        }
    }

    &__edit-button {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 5px;
        right: 10px;
        visibility: hidden;
        width: 17px;
        height: 17px;
        cursor: pointer;
    }

    &__edit-actions {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 5px;
        right: 10px;
    }

    &__cancel-button,
    &__save-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
}
