.character-card {
    width: 508px;
    height: 248px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 13px;
    position: relative;
}

.character-card__media {
    width: 240px;
    height: 234px;
}

.character-card__content {
    width: 240px;
    height: 234px;
    display: flex;
    flex-direction: column;
}

.character-card__title {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.character-card__meta-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 6px;
}

.character-card__meta-label {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.25px;
    font-weight: 500;
    color: #3f3f3f;
}

.character-card__meta-value {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.character-card__location {
    --input-text-color: rgba(0, 0, 0, 0.6);
    --input-font-size: 14px;
    --input-line-height: 21px;
    --input-letter-spacing: 0.25px;
    --input-height: 21px;
    --input-width: 100px;
}

.character-card__location .input__button--clear,
.character-card__title .input__button--clear {
    display: none;
}

.character-card__status-value {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.character-card__status-option {
    display: flex;
    align-items: center;
    gap: 4px;
}

.character-card__status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
}

.character-card__status-dot--alive {
    background-color: #20B80B;
}

.character-card__status-dot--dead {
    background-color: #E74C3C;
}

.character-card__status-dot--unknown {
    background-color: orange;
}

.character-card__edit-button {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 5px;
    right: 10px;
    visibility: hidden;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.character-card:hover .character-card__edit-button {
    visibility: visible;
}

.character-card:focus-within .character-card__edit-button {
    visibility: visible;
}