.character-card {
    width: 508px;
    height: 248px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 0.25);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.character-card__media {
    width: 240px;
    height: 234px;
    margin: 5px;
}

.character-card__content {
    width: 240px;
    height: 234px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*justify-content: space-around;*/
}

.character-card__title {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 500;
}

.character-card__meta-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.character-card__meta-label {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.25px;
    font-weight: 500;
}

.character-card__meta-value {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.character-card__status {

}

.character-card__status-value {

}
