.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin: 5px 0;
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
}

.header__button {
    width: 38px;
    height: 38px;
    border: 1px solid rgba(57, 57, 57, 1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__button--sun {
    margin: 0 15px 0 0;
}

.header__button-text {
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: left;
}
