.characters-list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters-list-page__logo {
    margin: 26px 0;
}

.characters-list-page__list {
    display: flex;
    justify-content: center;
    align-items: center;
}