.header__container {
    display: flex;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    width: 100%;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: left;
}

.header__buttons__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
}

.header__svg__container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin: 5px 0;
}

.header__svg__container svg {
    display: block;
}

.header__button {
    width: 38px;
    height: 38px;
    margin: 0 5px;
    border: 1px solid rgba(57, 57, 57, 1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
}
