.footer {
    display: flex;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    width: 100%;
    justify-content: center;
}

.footer__text {
    height: 21px;
    color: var(--Pharagraph, rgba(33, 33, 33, 1));
    font-family: Karla;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    margin: 19px 0 20px 0;
}