.footer__text {
    height: 21px;
    color: rgb(33 33 33 / 100%);
    font-family: Karla, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    margin: 19px 0 20px;
}