.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: -2px 0 8px 2px rgb(0 0 0 / 10%);
        background: rgb(255 255 255 / 100%);
    }

    &__content {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: auto;
        box-shadow: -2px 0 8px 2px rgb(0 0 0 / 10%);
        background: rgb(255 255 255 / 100%);
    }
}
