.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.app__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
}

.app__content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.app__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
}
