.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.app__header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app__content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.app__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
